<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Link Shortener</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

  <h1>🔗 Link Shortener</h1>

  <div class="form">
    <input type="text" id="original" placeholder="https://example.com">
    <input type="text" id="shortLink" placeholder="short-name">
    <button onclick="addLink()">Добавить</button>
  </div>

  <div id="message"></div>

  <div id="links" class="links"></div>

</div>

<script src="/js/app.js"></script>
</body>
</html>